@use '../util/' as util;

h1,
h2,
h3 {
    margin-top: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

h1 {
    color: var(--text);
    font-size: util.rem(20);
}

p {
    color: var(--error);
    font-size: util.rem(10);
}